@import url('https://fonts.googleapis.com/css?family=Lato');

/*
div{
    outline:1px solid lime;
}
*/


body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'lato', sans-serif;
}

.header{
    background-color: #2d303a;
    color:white;
    height:90px;
}

.fixedheader{
    position: fixed;
    height: 90px;
    background-color: #2d303a;
    width: 100%;
    max-width: 1280px;
    opacity: 0.9;

}

.margin{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position:;
    margin-left: 50px;
    box-sizing: border-box;
    transition: .3s;
}

nav .logo{
    margin-top: 35px;
    font-size: 1.4rem;
    float:right;
    position: fixed;
    margin-left: 650px;
    color: white;
}

.links{
    margin-top: 20px;
    font-size: 0.75rem;
    float:left;
    color:#4B4E61;
    display: inline-block;
    position: fixed;
}



.links a{
    padding-top: 20px;
    color:white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    float:left;
    position: relative;
    transition: .3s;
}

nav a::before{
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #f1f1f1;
  
    position: absolute;
    top: 10px;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;  
}

.photo{
    max-width: 1280px;
}
.gallery{
    background-color: #f06c64;
    height: 720px;
    text-align: center;
}

.about{
    background-color: #f2f2f2;
    color: ;
    height: 500px;
}

.football{
    background-color: #f2f2f2;
    height: 500px;
}

.insta{
    background-color: #2d303a;
    height:500px;
}

.contact{
    background-color: #f06c64;
    height: 100px;
}

.music{
    background-color: #f2f2f2;
    height: 500px;
}

.gaming{
    background-color: #2d303a;
    height: 500px;
}

iframe {
    float: right;
    margin-top: 50px;
}

.ftabout{
    float:left;
    margin-top: 20px;
    max-width: 400px;
    height: 170px;
}

.ftwngnat{
    float:right;
    margin-top: 20px;
    max-width: 400px;
    height: 195px;
}

.ftschool{
    float:left;
    padding-top: 0px;
    max-width: 400px;
}

.ftsenior{
    float: right;
    padding-top: 0px;
    max-width: 400px;
    
}

p{
    font-size: 0.85rem;
    text-align: justify;
}

h1{
    margin-top: 40px;
    height: 10px;
}

h3{
    display: inline;
}

.pabout{
    max-width: 550px;
    float: left;
}

p1{
    font-size: 1.1rem;
     max-width: 550px;
}

.instagram-media{
    width: 300px;
    height: 497px;
    float: left;
}

